h1 {
text-align: center;
color:rgb(101, 167, 228);
}

p {
color:gold;
}



body {
background-color: rgb(37, 34, 34);

    
}

a {
text-decoration: none;


}

main {
text-align: center;
font-size: 30px;
}


.page2 {
text-decoration:none;
text-align:left;
font-size:50px;
}
